@model Final.Models.Cliente
@{
    ViewData["Title"] = "Crear cliente";
}

<div class="container-lg col-4">
    <h1>Registrar cliente</h1>
    <form asp-action="CrearCliente" method="POST" onsubmit="return validarCamposCliPro();">

        <div class="input-group mb-3">
            <label asp-for="CodigoTributario" class="input-group-text">Codigo Tributario</label>
            <input asp-for="CodigoTributario" type="text" class="form-control" placeholder="Ingresar codigo tributario" id="codigoTributario" onblur="convertirAMayusculas()">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Direccion" class="input-group-text">Direccion</label>
            <input asp-for="Direccion" type="text" class="form-control" placeholder="Ingresar direccion tributario" id="direccion" onblur="convertirAMayusculas()">
        </div>

        <div class="input-group mb-3">
            <label asp-for="IdProvincia" class="input-group-text">Provincia</label>
            <select asp-for="IdProvincia" class="form-control" id="provincia" onchange="filtrarLocalidades()">
                <option value="">Seleccione una provincia</option>
                @foreach (var provincia in ViewBag.Provincias)
                {
                    <option value="@provincia.Id">@provincia.Nombre</option>
                }
            </select>
        </div>

        <!-- Localidad -->
        <div class="input-group mb-3">
            <label asp-for="IdLocalidad" class="input-group-text">Localidad</label>
            <select asp-for="IdLocalidad" class="form-control" id="localidad">
                <option value="">Seleccione una localidad</option>
                @foreach (var localidad in ViewBag.Localidades)
                {
                    <option value="@localidad.Id">@localidad.Nombre</option>
                }
            </select>
        </div>

        <div class="input-group mb-3">
            <label asp-for="Telefono" class="input-group-text">Telefono</label>
            <input asp-for="Telefono" type="tel" class="form-control" placeholder="Ingrese el telefono" id="telefono" onblur="convertirAMayusculas()">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Mail" class="input-group-text">Mail</label>
            <input asp-for="Mail" type="email" class="form-control" placeholder="Ingrese el mail" id="mail" onblur="convertirAMayusculas()">
        </div>
        <div class="input-group mb-3">
            <label asp-for="Denominacion" class="input-group-text">Denominacion</label>
            <input asp-for="Denominacion" type="text" class="form-control" placeholder="Denominacion" id="denominacion" onblur="convertirAMayusculas()">
        </div>
        <!-- Fecha Alta -->
        <div class="input-group mb-3">
            <label asp-for="FechaAlta" class="input-group-text">Fecha de alta</label>
            <input asp-for="FechaAlta" type="datetime" class="form-control" id="fechaAlta" value="@DateTime.Now" readonly>
        </div>
        <!-- Activo -->
        <div class="form-group">
            <label asp-for="Activo">Activo:</label>
            <select asp-for="Activo" id="Activo" name="Activo" class="form-control" disabled value="True">
                <option value="True">Activo</option>
                <option value="False">Inactivo</option>
            </select>
        </div>
        <br />

        <button type="submit" class="btn btn-primary">Guardar</button>
    </form>
</div>

<script src="~/js/clientesproveedores.js"></script>
<script src="~/js/generics.js"></script>
<script src="~/js/localidades.js"></script>