@using Final.Models
@model List<Final.Models.Cliente>
@{
    ViewData["Title"] = "Lista de clientes";
}

<div>
    <h1>Todos los clientes</h1>
    @if (Model.Count() > 0)
    {
        <table class="table table-bordered" id="" width="100%" cellspacing="0">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Codigo Tributario</th>
                    <th>Direccion</th>
                    <th>Provincia</th>
                    <th>Localidad</th>
                    <th>Telefono</th>
                    <th>Mail</th>
                    <th>Denominacion</th>
                    <th>Fecha Alta</th>
                    <th>Activo</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var cliente in Model)
                {
                    <tr>
                        <td>@cliente.Id</td>
                        <td>@cliente.CodigoTributario</td>
                        <td>@cliente.Direccion</td>
                        <td>@cliente.IdProvincia</td>
                        <td>@cliente.IdLocalidad</td>
                        <td>@cliente.Telefono</td>
                        <td>@cliente.Mail</td>
                        <td>@cliente.Denominacion</td>
                        <td>@cliente.FechaAlta</td>
                        <td>@cliente.Activo</td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <p>No hay registros</p>
    }
</div>
