@using Final.ViewModels;
@model Final.ViewModels.VentaViewModel

@{
    ViewData["Title"] = "Detalle de venta";
}

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdCliente)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdCliente)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Importe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Importe)
        </dd>

    </dl>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Linea</th>
            <th>Codigo de producto</th>
            <th>Nombre del producto</th>
            <th>PrecioUnitario</th>
            <th>Cantidad</th>
            <th>Total</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var detalleVenta in Model.DetallesVenta)
        {
            <tr>
                <td>@detalleVenta.Linea</td>
                <td>@detalleVenta.IdProducto</td>
                <td>@detalleVenta.NombreProducto</td>
                <td>@detalleVenta.PrecioUnitario</td>
                <td>@detalleVenta.Cantidad</td>
                <td>@detalleVenta.Total()</td>
            </tr>
        }
    </tbody>
</table>

