@using Final.ViewModels;
@model Final.ViewModels.VentaViewModel

@{
    var productosString = Context.Session.GetString("CarritoDeVenta");
    var productos = new List<DetalleVentaViewModel>();

    if (!string.IsNullOrEmpty(productosString))
    {
        productos = System.Text.Json.JsonSerializer.Deserialize<List<DetalleVentaViewModel>>(productosString);
    }
}

@{
    ViewData["Title"] = "Registrar Venta";
}

<div class="container-lg col-4">
    <h1>Registrar Venta</h1>


    <form asp-action="AgregarProducto" method="POST">
        <div class="DatosDinamicos">

            <!-- Producto -->
            <div class="input-group mb-3">
                <label asp-for="IdProducto" class="input-group-text">Producto</label>
                <select asp-for="IdProducto" id="producto" class="form-select">
                    <option value="">Seleccione el producto</option>
                    @foreach (var producto in ViewBag.Productos)
                    {
                        <option value="@producto.Key">@producto.Value</option>
                    }
                </select>
            </div>

            <!-- Cantidad -->
            <div class="input-group mb-3">
                <label asp-for="Cantidad" class="input-group-text">Cantidad</label>
                <input asp-for="Cantidad" type="text" class="form-control" placeholder="Ingrese la cantidad" id="cantidad">
            </div>
        </div>
        <br>
        <!-- Botón para agregar producto -->
        <button type="submit" class="btn btn-primary">Agregar producto</button>

    </form>

    <br>

    <form asp-action="RegistrarVenta" method="POST">
        <input type="hidden" name="numFilas" id="numFilas" value="@productos.Count" />
        <div class="DatosFijos">

            <!-- Cliente -->
            <div class="input-group mb-3">
                <label asp-for="IdCliente" class="input-group-text">Cliente</label>
                <select asp-for="IdCliente" class="form-control" id="cliente">
                    <option value="">Seleccione el cliente</option>
                    @foreach (var cliente in ViewBag.Clientes)
                    {
                        <option value="@cliente.Id">@cliente.Denominacion</option>
                    }
                </select>
            </div>
        </div>

        <!-- Botón para registrar la venta -->
        <button type="submit" class="btn btn-primary">Registrar Venta</button>
    </form>

    <br>
    <!-- Tabla para mostrar los productos agregados -->
    <table class="table" id="tablaProductos">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productos)
            {
                <tr>
                    <td>@producto.NombreProducto</td>
                    <td>@producto.PrecioUnitario</td>
                    <td>@producto.Cantidad</td>
                    <td>@producto.Total()</td>
                    <td>
                        <form asp-action="AgregarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <input type="hidden" name="Cantidad" value="1" />
                            <button type="submit" class="btn btn-success">+</button>
                        </form>
                        <form asp-action="AgregarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <input type="hidden" name="Cantidad" value="-1" />
                            <button type="submit" class="btn btn-success">-</button>
                        </form>
                        <form asp-action="EliminarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br><br>

</div>

