@using Final.ViewModels;
@model Final.ViewModels.CompraViewModel

@{
    var productosString = Context.Session.GetString("CarritoDeCompra");
    var productos = new List<DetalleCompraViewModel>();

    if (!string.IsNullOrEmpty(productosString))
    {
        productos = System.Text.Json.JsonSerializer.Deserialize<List<DetalleCompraViewModel>>(productosString);
    }
}

@{
    ViewData["Title"] = "Registrar compra";
}

<div class="container-lg col-4">
    <h1>Registrar Compra</h1>


    <form asp-action="AgregarProducto" method="POST">
        <div class="DatosDinamicos">

            <!-- Producto -->
            <div class="input-group mb-3">
                <label asp-for="IdProducto" class="input-group-text">Producto</label>
                <select asp-for="IdProducto" id="producto" class="form-select">
                    <option value="">Seleccione el producto</option>
                    @foreach (var producto in ViewBag.Productos)
                    {
                        <option value="@producto.Key">@producto.Value</option>
                    }
                </select>
            </div>

            <!-- Cantidad -->
            <div class="input-group mb-3">
                <label asp-for="Cantidad" class="input-group-text">Cantidad</label>
                <input asp-for="Cantidad" type="text" class="form-control" placeholder="Ingrese la cantidad" id="cantidad">
            </div>
        </div>
        <br><br>
        <!-- Botón para agregar un producto -->
        <button type="submit" class="btn btn-primary">Agregar producto</button>

    </form>

    <form asp-action="RegistrarCompraFinal" method="POST">
        <input type="hidden" name="numFilas" id="numFilas" value="@productos.Count" />
        <div class="DatosFijos">
            <!-- Usuario -->
            <div class="input-group mb-3">
                <label asp-for="IdUsuario" class="input-group-text">Usuario</label>
                <select asp-for="IdUsuario" class="form-control" id="usuario">
                    <option value="">Seleccione el usuario</option>
                    @foreach (var usuario in ViewBag.Usuarios)
                    {
                        <option value="@usuario.Id">@usuario.Nombre</option>
                    }
                </select>
            </div>

            <!-- Cliente -->
            <div class="input-group mb-3">
                <label asp-for="IdProveedor" class="input-group-text">Proveedor</label>
                <select asp-for="IdProveedor" class="form-control" id="proveedor">
                    <option value="">Seleccione el proveedor</option>
                    @foreach (var proveedor in ViewBag.Proveedores)
                    {
                        <option value="@proveedor.Id">@proveedor.Denominacion</option>
                    }
                </select>
            </div>
        </div>

        <!-- Botón para registrar la compra -->
        <button type="submit" class="btn btn-primary">Registrar Compra</button>
    </form>

    <br><br>
    <!-- Tabla para mostrar los productos agregados -->
    <table class="table" id="tablaProductos">
        <thead>
            <tr>
                <th>Producto</th>
                <th>Precio unitario</th>
                <th>Cantidad</th>
                <th>Total</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var producto in productos)
            {
                <tr>
                    <td>@producto.NombreProducto</td>
                    <td>@producto.PrecioUnitario</td>
                    <td>@producto.Cantidad</td>
                    <td>@producto.Total()</td>
                    <td>
                        <form asp-action="AgregarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <input type="hidden" name="Cantidad" value="1" />
                            <button type="submit" class="btn btn-success">+</button>
                        </form>
                        <form asp-action="AgregarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <input type="hidden" name="Cantidad" value="-1" />
                            <button type="submit" class="btn btn-success">-</button>
                        </form>
                        <!-- otro metodo en el controllado-->
                        <form asp-action="EliminarProducto" method="POST">
                            <input type="hidden" name="IdProducto" value="@producto.IdProducto" />
                            <button type="submit" class="btn btn-danger">Eliminar</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>

    <br><br>



</div>


<script src="~/js/Producto/Producto.js"></script>